build/
node_modules/
out/
static/
coverage/
TODO.txt
PROGRESS.md
resources/images/.DS_Store
resources/.DS_Store
.env*
.DS_Store
gitupdate.sh
errors.txt
Project_Info.md
commands.sh
gemini/
progress.md
